@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: #9dffb7;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #233829;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
    
}
h2 {
    color: #456f51;
    font-weight: bolder;
}

.basico {
    color: #1c491e;
}

.intermediario {
    color: #698b38;
}

.avancado {
    color: #883838;
}

.destaque {
    background-color: rgba(141, 141, 0, 0.516);
    
}