@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #e3c183, #e79d5c);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(24, 37, 79);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
  color: #2b9f74;  
  text-align: center;  
  text-shadow: 1px 1px 2px #185941a6;
}

h2 {
  color: #2484BF;  
}

p {
    text-align: justify;
}